{% extends 'base.html' %}

{% block title_content %}     
    <title>Lista de Acessos - Fechadura Eletrônica</title>
{% endblock %}
{% block body_content %}
    <h3>{% block title %} Lista de acesso às salas {% endblock %}</h3>
    
    <form action="/" method="POST">
        <label for="room">Filtrar por:</label>
        <select name="room" id="room">
        <option value="all">Todas</option>
        
        {# construir a lista de salas aqui #}
        {% for entry in all_entry_table %}
            <option value="{{ entry.room }}">{{ entry.room }} - {{ entry.room_name }}</option>
        {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>
    
    
    <table border="1" class="post" style="width:100%">
    <tr>
        <th>Sala</th>
        <th>Nome do Usuário</th>
        <th>Data</th>
        <th>Concedido</th>
    </tr>
    {% for row in filtered_entry_table %}
    <tr>
        <td>{{ row['room'] }} - {{ row['room_name'] }}</td>
        <td>{{ row['author'] }} - {{ row['author_name'] }}</td>
        <td>{{ row['date'] }}</td>
        {% if row['granted'] %}
            <td>Sim</td>
        {% else %}
            <td>Não</td>
        {% endif %}
        
    </tr>
    {% endfor %}
</table> 
{% endblock %}
