{% extends 'base.html' %}

{% block title_content %}     
    <title>Cadastro Salas - Fechadura Eletrônica</title>
{% endblock %}
{% block body_content %}
    <h3>{% block title %}Adicionar Salas{% endblock %}</h3>
    <form method="post">
        <label for="room">Número da sala:</label>
        <input type="text" name="room"
               placeholder="Ex.: 1111"
               value="{{ request.form['room'] }}">
        </input>
        <label for="name">Nome da Sala:</label>
        <input type="text" name="name"
               placeholder="Ex.: WINET"
               value="{{ request.form['name'] }}">
        </input>
        <!-- TODO include a password input in next versions, but seems not needed -->
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <h3>Remover Sala</h3>
    <form method="post">
        <label for="room_to_delete">Sala:</label>
        <select name="room_to_delete" id="room_to_delete">
        <option value="none">Selecione</option>
        {% for r in rooms %}
            <option value="{{ r.username }}">{{ r.username }} - {{ r.name }}</option>
        {% endfor %}
        </select>
        <button type="submit">Remover</button>
    </form>
    <br>
    <h3> Lista de Salas: </h3>
    <table class="post" style="width:100%">
    <tr>
        <th>Número</th>
        <th>Nome</th>
    </tr>
    {% for r in rooms %}
    <tr>
        <td>{{ r['username'] }}</td>
        <td>{{ r['name'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
