{% extends 'base.html' %}

{% block title_content %}     
    <title>Lista de Acessos - Fechadura Eletrônica</title>
{% endblock %}
{% block body_content %}
    <h3>{% block title %} Lista de acesso às salas {% endblock %}</h3>
    <table class="post" style="width:100%">
    <tr>
        <th>Sala</th>
        <th>Nome do Usuário</th>
        <th>Data</th>
        <th>Concedido</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['room'] }}</td>
        <td>{{ row['author'] }}</td>
        <td>{{ row['date'] }}</td>
        <td>{{ row['success'] }}</td>
    </tr>
    {% endfor %}
</table> 
{% endblock %}
