{% extends 'base.html' %}

{% block title_content %}     
    <title>Lista de Acessos - Fechadura Eletrônica</title>
{% endblock %}
{% block body_content %}
    <h3>{% block title %} Lista de acessos às salas {% endblock %}</h3>
    <table class="post" style="width:100%">
    <tr>
        <th>Número</th>
        <th>Sala</th>
        <th>Nome do Usuário</th>
        <th>Data</th>
        <th>Concedido</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['room_id'] }}</td>
        <td>{{ row['user_id'] }}</td>
        <td>{{ row['time'] }}</td>
        <td>{{ row['granted'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
