{% extends 'base.html' %}

{% block title_content %}     
    <title>Cadastro Salas - Fechadura Eletrônica</title>
{% endblock %}
{% block body_content %}
    <h3>{% block title %} Adicionar Salas {% endblock %}</h3>
    <form method="post">
        <label for="room">Número da sala:</label>
        <input type="text" name="room"
               placeholder="Ex.: 1111"
               value="{{ request.form['room'] }}">
        </input>
        <label for="name">Nome da Sala:</label>
        <input type="text" name="name"
               placeholder="Ex.: WINET"
               value="{{ request.form['name'] }}">
        </input>
    
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <h3> Lista de Salas: </h3>
    <table class="post" style="width:100%">
    <tr>
        <th>Nome</th>
        <th>Número</th>
    </tr>
    {% for row in rooms %}
    <tr>
        <td>{{ row['name'] }}</td>
        <td>{{ row['username'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
