{% extends 'base.html' %}
{% block title_content %}     
    <title>Cadastro de usuários - Fechadura Eletrônica</title>
{% endblock %}
{% block body_content %}
    <h3>{% block title %} Adicionar usuários {% endblock %}</h3>
    <form method="post">
        <label for="room">Número da Sala:</label> {# <!-- TODO use dropdown menu -->#}

        <input type="text" name="room"
               placeholder="Ex.: 1111"
               value="{{ request.form['room'] }}"></input>
        <label for="enrollment">Matrícula:</label>

        <input name="user"
                  placeholder="Ex.: 2016065120"
                  value="{{ request.form['user'] }}"></input>

        <button type="submit">Enviar</button>
    </form>
    <br>
    <h3> Listar Permissões: </h3>
    <table class="post" style="width:100%">
    <tr>
        <th>Sala</th>
        <th>Usuário</th>
        <th>Data de concessão</th>
    </tr>
    {% for row in permissions %}
    <tr>
        <td>{{ row['room'] }}</td>
        <td>{{ row['user'] }}</td>
        <td>{{ row['created'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
